.banner{
    height: 85vh;
    width: 100%;
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0)),
        url("../Assets/banner-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}